// ... existing code ...
    .imgg {
        margin-top: 0;
        flex: 1;
    }
    .imgg img {
        width: 100%;
        height: auto;
    }
    .main h1 {
        font-size: 48px;
    }
    .ps {
// ... existing code ...