
body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/* NAVBAR MOBILE */
@media (max-width: 768px) {
    .mnav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 0;
        padding: 15px 10px;
    }

    .mnav button {
        order: 3;
    }
}

/* MAIN SECTION (ABOUT) */
@media (max-width: 900px) {
    .main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .main1 {
        margin-right: 0;
        padding: 20px;
    }

    .main h1 {
        font-size: 35px;
    }
}

/* IMAGE RESPONSIVE */
@media (max-width: 900px) {
    .imgg img {
        width: 250px;
        margin: auto;
    }
}

/* ABOUT ME SECTION */
@media (max-width: 900px) {
    .main22 {
        flex-direction: column;
        text-align: center;
    }

    .chadi,
    .hp {
        width: 100%;
    }

    .imggg img {
        margin-left: 0;
    }

    .hp p {
        width: 100%;
    }
}

/* SKILLS SECTION */
@media (max-width: 900px) {
    .mainp img {
        width: 80%;
    }
}

/* EXPERIENCE SECTION */
@media (max-width: 900px) {
    .md1, .md2, .md3 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .sd1, .sd2, .sd3,
    .sd11, .sd22, .sd33,
    .sd111, .sd222, .sd333 {
        width: 90%;
    }
}

/* WORK SECTION (PROJECTS) */
@media (max-width: 1000px) {
    .mainin {
        flex-direction: column;
        text-align: center;
    }

    .tas,
    .wri {
        width: 100%;
        padding: 10px;
    }

    .wri img {
        margin: auto;
    }
}

/* TESTIMONIALS */
@media (max-width: 900px) {
    .jon {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .j, .o, .n {
        width: 90%;
        margin: auto;
    }
}

   /*contect section*/
@media (max-width: 900px) {
    .main7 h2,
    .main7 h3 {
        font-size: 26px;
    }
}
   
/* footer  section*/
