*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    display: flex;
    
  
}

.mnav{
width: 1280;
height: 36;
justify-content: right;
display: flex;
gap: 30px;
padding-right:50px ;
padding-left: 32px;
padding: 10px;
margin: 10px;
margin-right: 200px;

}
.mnav a{
  text-decoration: none;
  color: black;
}
.btn{
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;  
}

.main1{
    justify-content: center;
    padding: 80px;
    margin-right:80px ;
     margin-top: 40px;
}


.main h1{
    text-decoration:underline;
    font-size: 59px;
    margin-top: 40px;
}
.main p{
    font-size: 20px;
    line-height: 30px;
}
.loc{
    display: flex;
    margin-top: 100px;
}
.imgg{
    width: 375px;
    justify-content: center;
    box-shadow: slategrey,10px;
    margin-top: 60px;
}

.imgg img{
    width: 375px;
}
.loc p{
    
  font-size: 14px;
  font-weight: 500;
}
.dot{
    display: flex;
    margin-top: 10px; 
  
}
.dot i{
    color: green;
    font-size: x-small;
      
}
.dot p{
     font-size: 14px;
  font-weight: 500;
}

.pp{
    font-size:x-large;
    margin-top: 80px;
    
}
/* first half complete*/
.main2{
    width: 100%;
    height: 100%;
   
    margin-top: 45px;  
    justify-content: center; 
    align-content: center;
}
.btn2{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.btn2 button{
    background-color: rgb(239, 236, 236);
    color: black;
    border: white;
}
.main22{
    display: flex;
    width: 100%;
    padding-top: 20px;
}
.chadi{
    justify-content: center;
    width: 50%;
}
.imggg img{
   width: 365px;
   margin-left: 80px;
}
 .hp{
  
   width: 50%;
   height: 800px;
   font-size: 16px;
   margin-bottom: 30px;
 
  font-family: sans-serif;

 }
.hp p{
    width: 75%;
    line-height:28px;
    letter-spacing:0.5px ;
     color: rgb(72, 67, 67);
}
.hp h1{
    margin-bottom:20px
}
.hp ul{
    display: flex;

}
.fa-solid {
        font-size: 5px;
 
}
/* Second half complete*/

    .main3{
    width: 100%;
    height: 100%;
       margin: -14px;
    margin-top: 45px;  
    justify-content: center; 
    align-content: center;
}

.mb{
     justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.mb button{
      background-color: rgb(239, 236, 236);
    color: black;
    border: white;
    padding: 5px 20px;
}
.mb p{
        margin: 13px;
    line-height:28px;
    letter-spacing:0.5px ;
     color: rgb(72, 67, 67);
}
.mainp{
     justify-content: center;
    text-align: center;
    margin: 50px;
}
/* thoird half complete*/
.main4{
      width: 100%;
    height: 100%;
   
    margin-top: 45px;  
    justify-content: center; 
    align-content: center;
    
}
.main4{
   background-color:whitesmoke;
}
.mbb{
     justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.mbb button{
      background-color: rgb(239, 236, 236);
    color: black;
    border: white;
    padding: 5px 20px;
}
.mbb p{
        margin: 13px;
    line-height:28px;
    letter-spacing:0.5px ;
    color: rgb(72, 67, 67);
   
}

.md1{
    display: flex;
    width: 100%;
     justify-content: center;
    
}
.sd1{
  width: 15;
  justify-content: center;
  justify-items: center;
  background-color:white;
  padding: 20px;
  
}
.sd2{
    width: 25%;
    justify-content: center;
    background-color:white;
      padding: 20px;
  
    
}
.sd3{
width: 15%;
background-color:white;
 padding: 20px;
}
.sd2 h1{
    padding-bottom: 10px;
    
}
.sd2 p{
  line-height:  25px;
}

/* thoird(2) half complete*/

.md2{
    display: flex;
    width: 100%;
     justify-content: center;
     margin-top: 40px;
    
}
.sd11{
  width: 15;
  justify-content: center;
  justify-items: center;
  background-color:white;
  padding: 20px;
  
}
.sd22{
    width: 25%;
    justify-content: center;
    background-color:white;
      padding: 20px;
  
    
}
.sd33{
width: 15%;
background-color:white;
 padding: 20px;
}
.sd22 h1{
    padding-bottom: 10px;
    
}
.sd22 p{
  line-height:  25px;
  
}
/* thoird(3) half complete*/

.md3{
    display: flex;
    width: 100%;
     justify-content: center;
      margin-top: 40px;
      margin-bottom: 30px;
    
}
.sd111{
  width: 15;
  justify-content: center;
  justify-items: center;
  background-color:white;
  padding: 20px;
  
}
.sd222{
    width: 25%;
    justify-content: center;
    background-color:white;
      padding: 20px;
  
    
}
.sd333{
width: 15%;
background-color:white;
 padding: 20px;
}
.sd222 h1{
    padding-bottom: 10px;
    
}
.sd222 p{
  line-height:  25px;
  
}
/* 5 half start*/

.main5{
      width: 100%;
    height: 100%;
   
    margin-top: 45px;  
    justify-content: center; 
    align-content: center;
   
    
}
.main4{
   background-color:whitesmoke;
}
.mbb{
    width: 100%;
     justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}
.mbb button{
      background-color: rgb(239, 236, 236);
    color: black;
    border: white;
    padding: 5px 20px;
}
.mbb p{
        margin: 13px;
    line-height:28px;
    letter-spacing:0.5px ;
    color: rgb(72, 67, 67);
   
}
/* 5 (1)half start*/
.mainin{
    display: flex;
    width:75%;
    margin: 10px;
    margin: auto;
   padding-top: 35px;

}
.wri{
    text-align: left;
    padding: 10px;
    margin: auto;
}
.wri h1{
    padding-left: 10px;
}
.wri img{
     padding-left: 10px;
}

    /* 5 half start*/
     /* 6half start*/
.main5{
      width: 100%;
    height: 100%;
   
    margin-top: 45px;  
    justify-content: center; 
    align-content: center;
   color: rgb(72, 67, 67);
   
    
}
.main4{
   background-color:whitesmoke;
}
.mbb{
    width: 100%;
     justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.mbb button{
      background-color: rgb(239, 236, 236);
    color: black;
    border: white;
    padding: 5px 20px;
}
.mbb p{
        margin: 13px;
    line-height:28px;
    letter-spacing:0.5px ;
    color: rgb(72, 67, 67);
}
.main6{
    background-color: rgb(247, 246, 244);
    margin-top: 100px;
}
.main6 .mbb{
   
  padding-top: 50px;

}


.jon{
  
   display: flex;
    margin: auto;
    align-items: center;
    gap: 70px;
    justify-items: center;
    width:70%;
    text-align: center;
    align-content: center;
    
    padding-bottom: 40px;
 
    

}
.j{
    
    line-height: 25px;
    background-color: white;
     min-height:  382px;
}
.o{
     
       line-height: 25px;
       background-color: white; 
           min-height:  382px;
}
.n{   
       
       line-height: 25px; 
       background-color: white; 
           min-height:  382px;
}
.jon img{
    padding: 10px;
    margin-top: 40PX;   
}
.jon P{
     margin: 20PX;

}
.jon h2{
    padding-top: 20PX;
}
.jon h6{
    padding-top: 8PX;
    letter-spacing: 2px;
    color:grey;
}
/* 6 main ended

7main start*/

.main7{
   
    margin-top: 100px;
}
.main7 .mbb{
    padding-top: 50px;
}
.main7 h2{
    margin-top: 50px;
    font-size:36px;
    color: black;
}
.main7 h3{
    margin-top: 10px;
     font-size:36px;
    color: black;
}
.tk{
    margin-bottom: 7%;
}
.foot{
     
   padding: 1.25%;
    text-align: center;
    background-color: whitesmoke;
    height: 50px;
}

.btn5{
     background-color: rgb(239, 236, 236);
    color: black;
    border: white;
    padding: 5px 20px;
    border-radius: 50px;
    margin: 5px;
 

}

.mainp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: auto;
  padding-left: 5%;
  
}

/* Both rows become responsive grids */
.p1r, .p2r {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 800px;
  justify-items: center;
}

.ttt {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: 0.3s ease;
}

.ttt:hover {
  transform: scale(1.1);
}

/* Mobile adjustments */
@media (max-width: 480px) {
  .ttt {
    width: 50px;
    height: 50px;
  }
}
.ps{
    width: 780px;
}


/*logo*/
.iccoon{
    font-size:20px ;
     padding-right: 10px;
}
.iccoo{
      text-align: center;
    padding-top: 9px;
    margin: 2px;
    padding-right: 10px;
}

1024 1124



